﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"Pokemon Pixel Font Regular";src:url("fonts/pokemon_pixel_font.eot?") format("eot"),url("fonts/pokemon_pixel_font.woff") format("woff"),url("fonts/pokemon_pixel_font.ttf") format("truetype"),url("fonts/pokemon_pixel_font.svg#Pokemon-Pixel-Font") format("svg");font-weight:normal;font-style:normal;}
