@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Pokemon Pixel Font Regular', monospace;
    font-size: 18px;
}

a.list-group-item {
   
    line-height: 25px;
    font-size: 25px;
    color: black;
}