<template>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top mx-auto" style="max-width: 100px" :src="pokemon.sprites.front_default" :alt="pokemon.name">
        <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">{{pokemon.name | capitalize }}</h5>
            <div class="d-flex">
                <p class="flex-fill text-center">Height: {{ pokemon.height}} dm</p>
                <p class="flex-fill text-center">Weight: {{ pokemon.weight}} hg</p>
            </div>
            <p class="text-center"><span class="font-weight-bold">Species: </span>{{pokemon.species.name}}</p>
            <p class="mb-1 text-center font-weight-bold">Abilities</p>
            <ul class="list-unstyled d-flex">
                <li class="flex-fill text-center" v-for="ability in pokemon.abilities" :key="ability.key">
                    {{ability.ability.name | capitalize }}
                </li>

            </ul>
        </div>
    </div>
</template>
<script>
export default {
    props: [
        'pokemon'
    ],
}
</script>
