<template>
    <div>
        <header class="mb-4">
            <navigation></navigation>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="query" placeholder="Search for a Pokemon">
                    </div>
                    <div class="list-group mb-4">
                       <a href="#" @click.prevent="selectPokemon(pokemon)" class="list-group-item" v-for="pokemon in pokemon" :key="pokemon.id">
                           <img class="mr-4" style="width:25px" :src="pokemon.image_url == '' ? '/images/pokeball.png' : pokemon.image_url" :alt="pokemon.name">
                           
                           {{pokemon.name}}
                       </a>
                    </div>
                    <pagination 
                        v-if="total"
                        :total="total" 
                        :page-size="perPage"
                        :callback="onPageChange">
                    </pagination>
                </div>
                <div class="col-md-8">
                    <pokemon-details v-if="isSelected" :pokemon="selectedPokemon"></pokemon-details>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import Pagination from 'vue-pagination-bootstrap'
export default {
    created(){
        this.getPokemon()
    },
    data(){
        return {
           pokemon: null,
           selectedPokemon: null,
           isSelected: false,
           query: "",
           total: 0,
           perPage: 10,
           currentPage: 1,
        }
    },
    computed: {
        pageCount: function () {
            return Math.ceil(this.total / this.perPage);
        }
    },
    watch: {
        query: function(){
            this.getPokemon();
            this.currentPage = 1;
        }
    },
    components: {
        pagination: Pagination
    },
    methods: {
        selectPokemon(pokemon){
            
            pokemon = pokemon.name.toLowerCase();

            axios.get(`/api/pokemon.php?name=${pokemon}&action=get-one`)
                .then((response) => {
                    this.isSelected = true;
                    this.selectedPokemon = response.data.data;
                })
                .catch((err) => {
                    console.error(err);
                });
        },
        getPokemon(){
            axios.get(`/api/pokemon.php?name=${this.query}&page=${this.currentPage}&perPage=${this.perPage}`)
            .then((response) => {
                this.pokemon = response.data.data;
                this.total = response.data.total;
                this.perPage = response.data.per_page;
                this.currentPage = response.data.current_page;
            })
            .catch((err) => {
                console.error(err);
            });
        },
        onPageChange(page){
            this.currentPage = page;
            this.getPokemon();
        }
    }
}
</script>
